@model TodoList.Models.Entites.TodoItem
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<br />
<form asp-controller="TodoItem" asp-action="Create" method="post" type="multipart/form-data">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TodoId" />
    <div class="">
        <b>Liste Adı</b>
        <input asp-for="Name" type="text" class="form-control" name="name" value="" required />
        <br />
    </div>
    <div class="">
        <b>Açıklama</b>
        <input asp-for="Description" type="text" class="form-control" name="description" value="" required />
        <br />
    </div>
  
    <button class="btn btn-info">Ekle</button>
</form>




