@model TodoList.Models.Entites.TodoItem


    <form asp-controller="Todo" asp-action="Update" method="post" enctype="multipart/form-data">
        <div>
            <input type="text" asp-for="Name" placeholder="Liste" /><br />
        </div>
        <div>
            <input type="text" asp-for="Description" placeholder="Açıklama" /><br />
        </div>
        @*<div>
            <input type="text" asp-for="StatusId" placeholder="Başlık" /><br />
        </div>*@
        <button type="submit">Güncelle</button>
    </form>