

    <form amethod="post" asp-action="CreateList" asp-controller="List">

        <h3 class="legend">Yeni Liste Ekle</h3>
        <div class="form-group">
            <span class="fa fa-envelope-o"></span>
            <input type="email" placeholder="Başlık" />
        </div>
        <h1></h1>
        <div class="form-group">

            <textarea name="title" class="form-control task-title" cols="1" rows="2" placeholder="Liste" required></textarea>
        </div>
        <h1></h1>
        <div>
         <input type="date" class="date-picker" />
        </div>
        <h1></h1>
        <button type="submit" class="btn submit">Ekle</button>
    </form>

      

