
@model TodoList.Models.Viewmodels.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <title>Yapılacaklar Listesi</title>
    <!-- Meta tag Keywords -->  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Yapılacaklar Listesi" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext"
          rel="stylesheet">
    <!-- //web-fonts -->
</head>

<body>
    <div class="main-bg">
        <!-- title -->
        <h1></h1>
        <!-- //title -->
        <div class="sub-main-w3">
            
            <!-- vertical tabs -->
            <div class="vertical-tab">
                <div id="section1" class="section-w3ls">
                    <input type="radio" name="sections" id="option1" checked>

                    <form amethod="post" asp-action="Login" asp-controller="Login">                       
                        <h3 class="legend">Giriş yapın</h3>
                        <div class="input">
                            <span class="fa fa-envelope-o"></span>
                            <input type="email" asp-for="Email" placeholder="Email" />
                            <span asp-validation-for="Email"></span>

                        </div>
                        <div class="input">
                            <span class="fa fa-key" ></span>
                            <input type="password" asp-for="Password" placeholder="Şifre" />
                            <span  asp-validation-for="Password"></span>
                        </div>
                        <button type="submit" class="btn submit">Login</button>

                        <label><a asp-controller="Login" asp-action="PasswordReset">Şifreyi Unuttum?</a></label>
                        <label><a asp-action="Register">Kayıt Ol</a></label>
                    </form>
                </div>
            </div>
        </div>
        <!-- //vertical tabs -->
        <div class="clear"></div>
    </div>
    <!-- copyright -->
    <div class="copyright">
        <h2>
            &copy; 2019 Yapılacaklar Listesi. Tüm hakları saklıdır.
        </h2>
    </div>
    <!-- //copyright -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>