@model TodoList.Models.Viewmodels.UserModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    ViewData["Title"] = "Register";
}
        
    <form method="post" asp-action="Register" asp-controller="Login">
        <h3 class="legend">Buradan Kayıt Olun</h3>
        <div asp-validation-summary="All"></div>
        <div class="input">
            <span class="fa fa-user-o"></span>
            <input type="text" asp-for="UserName" placeholder="Kullanıcı Adı" />
            <span asp-validation-for="UserName"></span>
        </div>

        <div class="input">
            <span class="fa fa-envelope-o"></span>
            <input asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="input">
            <span class="fa fa-envelope-o"></span>
            <input placeholder="Şifre" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <h1></h1>
            <button type="submit" >Kayıt Ol</button>
        </div>
    </form>

   