
@model TodoList.Models.Viewmodels.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;

}
<form amethod="post" asp-action="Login" asp-controller="Security">

    <h3 class="legend">Giriş yapın</h3>
    <div colspan="3">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="input">
        <span class="fa fa-envelope-o"></span>
        <input type="email" asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="input">
        <span class="fa fa-key"></span>
        <input type="password" asp-for="Password" placeholder="Şifre" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="flex-sb-m w-full p-t-3 p-b-32">
        <div class="contact100-form-checkbox">
            <input class="input-checkbox100" type="checkbox" asp-for="Persistent">
            @Html.DisplayNameFor(m => m.Persistent)
        </div>
    </div>
    <button type="submit" class="btn submit">Giriş yap</button>
</form>