@model TodoList.Models.Authentication.AppUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "UserUpdate";
}
<div colspan="3" asp-validation-summary="All"></div>
<form method="post" asp-action="UserUpdate" asp-controller="Security">
    <h3 class="legend">BİLGİLERİM</h3>


    <div class="input">
        <span class="fa fa-user-o"></span>
        <input asp-for="UserName" placeholder="Kullanıcı Adı" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="input">
        <span class="fa fa-envelope-o"></span>
        <input type="email" asp-for="Email" placeholder="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    @*<div class="input">
        <span class="fa fa-mobile-phone"></span>
        <input type="tel" asp-for="Cinsiyet" placeholder="Telefon Numarası" />
        <span asp-validation-for="Cinsiyet"></span>
    </div>
    <div class="input">
        <span class="fa fa-key"></span>
        <input type="password" asp-for="Memleket" placeholder="Şifre"/>
        <span asp-validation-for="Memleket"></span>
    </div>*@
    <h1></h1>
    <button type="submit" class="btn submit">Güncelle</button>
</form>



