
@model TodoList.Models.Entites.Todo
@{
    ViewData["Title"] = "başlık Ekle";
}

<!DOCTYPE html>
<html>

<body>
    <h1>Yeni Yapılacak İş</h1>
    <hr />
    <div id="section2" class="che">
        <form asp-controller="Todo" asp-action="Create" method="post" enctype="multipart/form-data">
            <label>Liste Başlığı</label>
            <div>
                <input type="text" asp-for="Name" placeholder="Başlık" /><br />
            </div>

            @*<div class="col-+ col-12-small">
            <input type="checkbox" class="done-checkbox" ><br />
            <input type="radio" id="demo-priority-high" name="demo-priority">
            <label for="demo-priority-high">Tamamlandı</label>
        </div>*@
            <button type="submit">Ekle</button>
        </form>
    </div>

    <div class="panel-footer add-item-form">
    
    </div>

</body>
</html>
