
    
        @*<form amethod="post" asp-action="CreateList" asp-controller="Todo">
            <div class="input">
                <span class="fa-plus"></span>
                <input asp-for="Hood" placeholder="Yeni Liste Ekle" />
            </div>
        </form>*@


