@model IEnumerable<TodoList.Models.Entites.Todo>



@{
    ViewData["Title"] = "Detay";
}

<<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Id)

</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Course Title</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
      
    </tr>
        }
    </table>
</dd>