
@model TodoList.Models.Entites.Todo1


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ekle</title>
</head>
<body>
    <h1>Yeni Yapılacak İş</h1>
    <hr />
    <div id="section2" class="che">
        <form asp-controller="Todo" asp-action="Add" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" asp-for="Name" placeholder="Başlık" /><br />
            </div>
            <div>
                <input type="text" asp-for="DateTime" value="@DateTime.Now.ToShortDateString()" />
            </div>
            @*<div class="col-+ col-12-small">
                    <input type="checkbox" class="done-checkbox" ><br />
                    <input type="radio" id="demo-priority-high" name="demo-priority">
                    <label for="demo-priority-high">Tamamlandı</label>
                </div>*@
            <button type="submit">Ekle</button>
        </form>
    </div>


</body>
</html>m>					