
@model TodoList.Models.Entites.Todo


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ekle</title>
</head>
<body>
    <h1>Yeni Yapılacak İş</h1>
    <hr />
    <div id="section2" class="che">
        <form asp-controller="Todo" asp-action="Edit" method="post" enctype="multipart/form-data">
            <div>
                <input type="text" asp-for="Name"  /><br />
            </div>
            <div>
                <input type="text" asp-for="DateTime" value="@DateTime.Now.ToShortDateString()" />
            </div>
           <h1></h1>
            <button type="submit">GÜncelle</button>
        </form>
    </div>


</body>
</html>			